---
import BaseLayout from "../layouts/BaseLayout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import WorkGrid from "../components/WorkGrid.astro";
import Services from "../components/Services.astro";
import AboutSection from "../components/AboutSection.astro";
import ContactSection from "../components/ContactSection.astro";
import Achievements from "../components/Achievements.astro";
import Testimonials from "../components/Testimonials.astro";
---

<BaseLayout>
  <Navbar />

  <main>
    <Hero />
  	<Achievements />
  	<WorkGrid />
  	<Services />
  	<Testimonials />
  	<AboutSection />
  	<ContactSection />
  </main>

  <Footer />
</BaseLayout>
